top {
    font-family: Arial;
    display: block;
}

top > div {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
navbar {
    position: fixed;
    overflow: auto;
    line-height: 2;
}
#navbar {
    width: 228px;
    height: 100%;
    visibility: hidden;
}
#smolnavbar {
    visibility: visible;
}
navbar img {
    width: 100px;
    height: auto;
}
navbar .dropdown {
    margin: 60px;
}
navbar .noDropDown {
    margin: 40px;
}
#hideNav {
    display: block;
}
.backdrop {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 236px;
      height: 100vh;
      background-size: cover;
      background-color:white;
      z-index: -1;
}
a {
    font-size: 18px;
    margin: 20px;
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
page {
    overflow: auto;
    width: 100%;
    height: auto;
    top: 30px;
}
iframe {
    border: none;
    width: 97vw;
    height: 97vh;
    display: inline;
    margin-left: 0px;
    margin-top: 30px;
}
.background {
      position: fixed;
      top: 30px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      opacity: 0.5;
}

@media (min-width: 841px) {
#navbar {
    visibility: visible;
}
#smolnavbar {
    visibility: hidden;
}
#hideNav {
    display: none;
}
iframe {
    width: calc(100vw - 244px);
    margin-left: 236px;
}
.background {
    width: calc(100vw - 236px);
    left: 236px;
    top:0px;
}
page {
    top: 0px;
}
iframe {   
    margin-top: 0px;
}
}
