
top {
    font-family: Arial;
    display: grid;
    justify-content: center;
    grid-template-rows: 97vh;
    grid-template-columns: 206px auto;
}

top > div {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

navbar {
    width: 100%;
    position: fixed;
    background-size: cover;
    background-color: white;
    overflow: auto;
    grid-column: 1;
    line-height: 2.0;
}
navbar img {
    width: 100px;
    height: auto;
}
navbar .dropdown {
    margin: 60px;
}
a {
    font-size: 18px;
    margin: 20px;
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
.noDropDown {
    margin: 40px;
}
page {
    overflow: auto;
    grid-column: 2;
    width: 100%;
    height: auto;
}
iframe {
    border: none;
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: block;
}
.background {
      position: fixed;
      top: 0;
      left: 207px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      opacity: 0.5;
}
