
top {
    font-family: Arial;
    display: block;
}

top > div {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

navbar {
    width: 228px;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-color: white;
    overflow: auto;
    line-height: 2;
}
navbar img {
    width: 100px;
    height: auto;
}
navbar .dropdown {
    margin: 60px;
}
navbar .noDropDown {
    margin: 40px;
}
a {
    font-size: 18px;
    margin: 20px;
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
page {
    overflow: auto;
    width: 100%;
    height: auto;
}
iframe {
    border: none;
    width: calc(100vw - 251px);
    height: 97vh;
    display: block;
    margin-left: 228px;
}
.background {
      position: fixed;
      top: 0;
      left: 228px;
      width: calc(100vw - 228px);
      height:100vh;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      opacity: 0.5;
}
